.bulletin{
    display: inline-block;
}

.bulletin input{
    margin-top: 15px;
    margin-left: 10px;
}

.name{
    width: 100%;
    list-style: none;
    display: inline-flex;
    margin: auto;
}

.nickname{
    margin-top: 15px;
    height: 20px;
}

.text{
    width: 100%;
    list-style: none;
    display: flex;
    margin: auto;
}
.message{
    margin-top: 15px;
    height: 100px;
    width: 400px;
}

.post{
    margin-left: 120px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.box{
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

