.bulletin{
    display: inline-block;
}

.bulletin input{
    margin-top: 15px;
    margin-left: 10px;
}

.name{
    width: 100%;
    list-style: none;
    display: inline-flex;
    margin: auto;
}

.nickname{
    height: 20px;
}

.text{
    width: 100%;
    list-style: none;
    display: flex;
    margin: auto;
}
.message{
    height: 100px;
}

.post{
    margin-left: 120px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

